@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Lobster&family=National+Park:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




#div {
    justify-content: end;
    padding-right: 50px;
    
}

#body {
    background-color: #000000;
}

#a {
    font-family: raleway ;
    font-size: 37px;
    text-align: center;
    padding-left: 50px;
}

.text {
    color: white;
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
  }
  

.card {
    border: none;
  }
  
.container {
    background-color: #000000;
    font-family: cabin;
   
}

.container_h1 {
    background-color: #000000;
}

.col {
    text-align: left;
    font-family: Cabin;
}

.card-body01 {
    background-color:deepskyblue;
}


#div{
    font-family: cabin;
}


.carousel-indicators [data-bs-target] {
    background-color: #373A3C;
}


.carousel-indicators .active {
    background-color: #000000;
}

.card-body1 {
    background-color: #DC3545;
    font-family: cabin;
    font-size: 30px;
    padding-top: 50px;
}



.footer {
    font-family: cabin;
    font-size: 37px;
}

.d-grid {
    padding-bottom: 100px;
}

#button1 {
    padding-left: 50px;
}

.card {
    display: block !important;
  }
  
  @media (max-width: 768px) {
    .d-none.d-md-block {
      display: none;
      height: 0 !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .bottons {
    text-align: end;
  }
  